<div *ngFor="let item of items">
    {{item.id}}.{{item.uplatilac}} {{item.primalac}} {{item.iznos}}
    <button (click)="obrisi(item.id)">Obrisi</button>
    <button (click)="detalj(item.id)">Detalj</button>
</div>
<br>
<div>
    <form [formGroup]="dodajForm" (ngSubmit)="dodaj(dodajForm.value)" ngNativeValidate>
        <p>Uplatilac:</p>
        <select formControlName="uplatilac">
            <option *ngFor="let item2 of items2" [value]="item2.id" >{{item2.id}}</option>
        </select>
        <br>
        <p>Primalac:</p>
        <select formControlName="primalac">
            <option *ngFor="let item2 of items2" [value]="item2.id" >{{item2.id}}</option>
        </select>
        <br>
        <br>
        <input type="text" formControlName="iznos" placeholder="iznos" required>
        <br>

        <button type="submit">Dodaj</button>

    </form>
</div>