<div class="container">
    {{item.id}}
    {{item.poslovnoIme}}
    {{item.pib}}
</div><br>
<div *ngIf="izmeniForm">
<form [formGroup]="izmeniForm" (ngSubmit)="izmeni(izmeniForm.value)" ngNativeValidate>
    <input type="text" formControlName="poslovnoIme" placeholder="poslovnoIme" required>
    <br>
    <input type="text" formControlName="pib" placeholder="pib" required>
    <br>
    <input type="submit" value="Izmeni">
</form>
</div>

