<div *ngIf="izmeniForm">
    <form [formGroup]="izmeniForm" (ngSubmit)="izmeni(izmeniForm.value)" ngNativeValidate>
        Broj racuna:<input type="text" formControlName="brojRacuna" placeholder="brojRacuna" required>
        Iznos: <input type="text" formControlName="stanje"  required>
        <input type="submit" value="uplati" >
    </form>
</div>

<!--Ovo ne radi ali sam probao pa ako je moze da se dobije neki bod na ovom ostavio sam ga u aplikaciji-->