<div class="container">
    {{item.id}}
    {{item.bankaId}}
    {{item.brojRacuna}}
    {{item.stanje}}
</div><br>
<div *ngIf="izmeniForm">
<form [formGroup]="izmeniForm" (ngSubmit)="izmeni(izmeniForm.value)" ngNativeValidate>
    <select formControlName="bankaId">
        <option *ngFor="let item2 of items2" [value]="item2.id">{{item2.id}}</option> 
    </select>
    <input type="text" formControlName="brojRacuna" placeholder="brojRacuna" required>
    <br>
    <br>
    <input type="text" formControlName="stanje" placeholder="stanje" required>
    <input type="submit" value="Izmeni">
</form>
</div>

