<div *ngFor="let item of items">
    {{item.id}}.{{item.racunId}} {{item.brojRacuna}} {{item.stanje}}
    <button (click)="obrisi(item.id)">Obrisi</button>
    <button (click)="detalj(item.id)">Detalj</button>
</div>
<br>
<div>
    <form [formGroup]="dodajForm" (ngSubmit)="dodaj(dodajForm.value)" ngNativeValidate>
       <select formControlName="bankaId">
           <option *ngFor="let item2 of items2" [value]="item2.id" >{{item2.id}}</option>
       </select>
        <br>
        <input type="text" formControlName="brojRacuna" placeholder="brojRacuna" required>
        <br>
        <input type="text" formControlName="stanje" placeholder="Stanje" required>
        <br>
        <button type="submit">Dodaj</button>

    </form>
    <br>
    <app-brzo-placanje></app-brzo-placanje>
</div>
