<div *ngFor="let item of items">
    {{item.id}}.{{item.poslovnoIme}} {{item.pib}}
    <button (click)="obrisi(item.id)">Obrisi</button>
    <button (click)="detalj(item.id)">Detalj</button>
</div>
<br>
<div>
    <form [formGroup]="dodajForm" (ngSubmit)="dodaj(dodajForm.value)" ngNativeValidate>
        <input type="text" formControlName="poslovnoIme" placeholder="poslovnoIme" required>
        <br>
        <input type="text" formControlName="pib" placeholder="pib" required>
        <br>
        <button type="submit">Dodaj</button>

    </form>
</div>