<div class="container">
    {{item.id}}
    {{item.uplatilac}}
    {{item.primalac}}
    {{item.iznos}}
</div><br>
<div *ngIf="izmeniForm">
<form [formGroup]="izmeniForm" (ngSubmit)="izmeni(izmeniForm.value)" ngNativeValidate>
    <p>Uplatilac:</p>
    <select formControlName="uplatilac">
        <option *ngFor="let item2 of items2" [value]="item2.id">{{item2.id}}</option> 
    </select>
    <br>
    <p>Primalac:</p>
    <select formControlName="primalac">
        <option *ngFor="let item2 of items2" [value]="item2.id">{{item2.id}}</option> 
    </select>
    <br>
    <br>
    <input type="text" formControlName="iznos" placeholder="iznos" required>
    <input type="submit" value="Izmeni">
</form>
</div>